html, body, h1 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  font-weight: 300;
  letter-spacing: -1.2px;
}

a {
  text-decoration: none;
  diplay: inline-block;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.section-content {
  color: #3a3a3a;
  float: left;
  width: 340px;
}

.section-device {
  float: right;
  position: relative;
  bottom: 150px;
}

.section-device img {
  width: 300px;
}

.btn-primary {
  background: #4285f4;
  border: 1px solid #1266f1;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-secondary {
  background: #ffffff;
  border: 1px solid #e6e6e6;
  color: #3372df;
  font-family: 'Open Sans' sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.23px;
  padding: 12px 32px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

header {
  background-color: #ffffff;
  padding: 50px 0;
}

.title {
  float: left;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.title a, .title a:visited {
  color: #3a3a3a;
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  font-family: 'Open Sans' sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}

.main-nav li a {
  color: #3a3a3a;
}

.hero-section .section-content {
  position: relative;
  top: 100px;
}

.hero-section .section-content h2 {
  font-size: 40px;
}

.hero-section .section-content .btn-primary {
  margin-right: 10px;
}

.signup-section .section-content h2 {
  font-size: 30px;
}

.signup-section .section-content {
  position: relative;
  top: 50px;
}

.form-group {
  margin-bottom: 20px
}

.form-group label {
  color: #3a3a3a;
  display: block;
  font-family: 'Open Sans' sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #4285f4;
  background-color: transparent;
  color: #3a3a3a;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
}

.form-group .error-message {
  margin: 10px 0;
  color: #db4437;
}

.form-group .error-message + input {
  border-bottom: 2px solid #db4437;
}

.error-message {
  color: #db4437;
}

// About Page

.about-section h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.about-section p {
  font-size: 16px;
}

// Home

.section-tabs {
  float: left;
  width: 340px;
}

.section-tabs .places {
  margin-top: 62px;
  padding-right: 20px;
}

.section-tabs .places a, .section-tabs .places a:visited {
  color: #3372df;
}

.section-tabs article {
  margin-bottom: 20px;
}

.section-tabs article .name {
  font-size: 18px;
}

.section-tabs article .walking-distance {
  color: #6e6e6e;
  font-size: 13px;
  margin: 0;
}

.section-map {
  float: right;
  width: 660px;
}

.section-map .nav {
  padding: 20px 0;
}

.section-map .form-group {
  display: inline;
}

.section-map #address {
  font-size: 14px;
  margin-right: 10px;
  width: 87%
}

.section-map #submit {
  font-size: 10px;
  padding: 5px 15px;
}

#map {
  height: 500px;
}

.leaflet-popup-content h3 {
  margin: 0;
}

.leaflet-popup-content p {
  margin: 10px 0;
}
