{% extends "layout.html" %}

{% block content %}
<main class="about-section">
  <div class="container">

    <h2>Simplicity itself</h2>
    <p>Is there something real outside our perception of reality? Is there?</p>

  </div>
</main>
{% endblock %}
