{% extends "layout.html" %}

{% block content %}
<main class="hero-section">
  <div class="container">
    <h1>Welcome!</h1>
    <p>Look how's here! YOU! How about that?</p>
    <br>
    <a href="{{ url_for('logout') }}" class="btn-primary">Logout</a>
  </div>
</main>
{% endblock %}
