{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
      <div class="container">

        <div class="section-container">
          <h2>Simple login system</h2>
          <a href="{{ url_for('signup') }}" class="btn-primary">Sign Up</a>
          <a href="{{ url_for('login') }}" class="btn-primary">Login</a>
          <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>
        </div>

        <div class="section-device">
          <img src="static/img/login.png">
        </div>

        <div class="clearfix"></div>

      </div>
    </main>
{% endblock %}
