<DOCTYPE! html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Pentaflask</title>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="title">Pentaflask</h1>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
