{% extends "layout.html" %}

{% block content %}
<main class="hero-section">
  <div class="container">
    <h2>Registered Successfully!</h2>
    <br>
    <a href="{{ url_for('login') }}" class="btn-primary">Login</a>
  </div>
</main>
{% endblock %}
